{% load static %}

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="{% static 'img/icons/search.png' %}" alt="" class="search-trigger">
                    
                    <a href="{% url "cart" %}">
                        <img src="{% static 'img/icons/bag.png' %}" alt="">
                        <span>{{cart | length}}</span>
                    </a>
                </div>
                <div class="user-access">
                    <a href="#">Register</a>
                    <a href="#" class="in">Sign in</a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a  href="{% url 'home' %}">Home</a></li>
                        <li><a  href="{% url "product-list" %}">Products</a></li>
                        <li><a href="#">Categories</a>

                            <ul class="sub-menu">
                                {% for category in categories %} <!--categories from context processor-->
                                <li><a href="{% url "category-details" category.slug %}">{{category.title | title}}</a></li><!--category word come from model-->
                                {% endfor %}
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->

    <!-- Header Info End -->
    <!-- Header End -->

        <div class="container-fluid">
            
            <div class="row d-flex justify-content-center">
                {% if messages %}
           
                    {% for message in messages %}
                    
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong class="text-center">{{ message.tags }}</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                
                {% endif %}
                
            </div>
            
        </div>