   <!-- Search model -->
   <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <!--Add method, action-->
        <form class="search-model-form" method="GET" action="{% url "search_products" %}">
            <!--add name for dynamic searching-->
            <input name="search_key" type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->